<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIVEDOC - Prediction Result</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="result-page"> <!-- Apply background image specific to this page -->
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/inp">Predict</a>
            <a href="/about">About Us</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>
    <main class="container">
        <h2>Prediction Result</h2>
        <p>The predicted disease is: <strong>{{ prediction }}</strong></p>

        <a href="/inp" class="btn">Try Again</a>
    </main>
    <footer>
        <p>© 2025 LIVEDOC. All rights reserved.</p>
    </footer>

</body>
</html>

